input[type="file"] {
  z-index: -1;
}
.authenticated {
  &__menu-container {
    grid-area: menu;
    margin-top: 1rem;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-row-gap: 0.25rem;
    background-color: #040405;
    padding: 2rem;
  };

  &__addPosition {
    background-color: #040405;
  }

  &__menu {
    display: block;
    margin-left: 2rem;
    color: #edf9f1;
    padding: 0.35rem;
  };

  &__signout {
    margin-top: 3rem;
    background-color: #040405;
  }
}
