.add-position-row {
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 0.6rem;
  };

  &__label {
    padding: 1rem;
    color: #f2f4f4;
  };

  &__value {
    padding: 1rem;
    color: #f2f4f4;
  }
};
