.list {
  &__container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  };

  &__thead {
    background-color: #3f393b;
    color: white;
  };

  &__th {
    padding: 0.5rem;
  }
}
