.modal {
  &__label {
    padding: 1rem;
  };

  &__form {
    display: grid;
    grid-row-gap: 1rem;
    color: #f2f4f4;
  };

  &__save {
    width: 40%;
    justify-self: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  };

  &__delete {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fc1905;
    color:#f2f4f4;
  };

  &__information {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
};

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
};
