@mixin totalSummaryDefinitionList {
  &__total-summary {
    &--dl {
      display: grid;
      justify-self: end;
      margin-left: 3rem;
      margin-top: 0rem;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 0.9rem;
    };

    &--dt {
      font-weight: 700;
    }

    &--dd {
      margin-inline-start: 0;
    }
  }
}
