.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080;
  }

  &__label {
    padding: 1rem;
  };

  &__form {
    display: grid;
    grid-row-gap: 1rem;
  };

  &__save {
    width: 40%;
    justify-self: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__information {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
};
