.tab {
  &__container {
    margin-top: 3rem;
    border-color: #a8adb5;
    border-bottom: solid 1px;
    margin-left: 1.5rem;
    padding-left: 0;
  }

  &__link {
    padding: 0.6rem;
    position: relative;
    display: inline-block;
    bottom: -1px;
    text-decoration: none;
    margin-left: 0;
    color: #252626;
    &:visited {
      color: #252626;
    }

    &--current {
      border: solid 1px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom: none;
      border-bottom-width: 0px;
      background-color: #ffffff;
    }
  }
}
