.expiration-view {
  &__container {
    margin-top: 1rem;
    margin-left: 3rem;
  };

  &__stat-container {
    margin-top: 1rem;
  };

  &__header-row {
    font-weight: 800;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  };
};
