.accounts-navigation {
  &__container {
    grid-area: accounts;
    margin-right: 1rem;
    border-right: solid 1px;
    border-color: #eae0de;
    background-color: #cccbc7;
  };

  &__ul {
    list-style-type: none;
    padding-left: 0;
  };

  &__li {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-top: solid 1px;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem;
  };
}
