input[type="file"] {
  z-index: -1;
}

.menu-container {
  grid-area: menu;
  margin-top: 1rem;
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #040405;
};

.menu {
  &__button {
    background-color: #040405;
    color: #edf9f1;
  }

  &__menu {
    display: block;
    color: #edf9f1;
    padding: 0.35rem;
    border-right: 2px;
  };

  &__signout {
    margin-top: 3rem;
    background-color: #040405;
  }
}
