.list {
  &__container {
    margin-top: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  };

  &__table {
    display: block;
  };

  &__thead {
    background-color: #3f393b;
    color: white;
  };

  &__th {
    padding: 0.5rem;
    width: 8.4%;
  };

  &__td {
    text-align: center;
  }

  &__chevron {
    &--up {
      background: url('../images/chevron-up.svg') no-repeat #4f5051 95% center;
    }
    &--down {
      background: url('../images/chevron-down.svg') no-repeat #4f5051 95% center;
    }
  }
};
